@import "tailwindcss";

:root {
  /* Slate 950 */
  --background: #020617;
  /* Amber 50 */
  --foreground: #fffbeb;
  /* Orange 600 */
  --primary: #ea580c;
  /* Orange 700 */
  --primary-hover: #c2410c;

  --secondary: #1e293b; /* Slate 800 */
  --accent: #334155; /* Slate 700 */

  --font-sans: 'Inter', sans-serif;
  --font-display: 'Outfit', sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-display);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
}
